* text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.as text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.eot binary
*.ttf binary
*.otf binary
*.woff binary
