target
*.project
*.classpath
*.settings
atlassian-ide-plugin.xml
*.iml
*.idea
orcid-solr/data/*
orcid-solr/src/main/webapp/solr/data/*
.externalToolBuilders
*.DS_Store
orcid-solr-web/bin/
rebel.xml
deploy.log
orcid-solr-web/src/main/webapp/solr/data/
orcid-solr-web/src/main/webapp/solr/org/data/
orcid-solr-web/src/main/webapp/solr/profile/data/
orcid-solr-web/src/main/webapp/solr/fundingSubType/data
