<div id="cookie-alert" class="alert alert-banner" *ngIf="showCookieNotification">
    <p><span *ngIf="!cookiesEnabled">For full functionality of this site, please enable browser cookies.</span> ORCID uses cookies to improve your experience and to help us understand how you use our websites.  <a href="https://localhost:8443/orcid-web/privacy-policy#TrackingTechnology" target="common.cookies.learn_more">
    Learn more about how we use cookies</a>.</p>
    <button (click)="dismissCookieNotification()" class="btn btn-primary">Dismiss</button>
</div>