<span *ngIf="relationship && relationship == 'part-of'" class='italic'>Part of </span><span>{{type | uppercase}}: </span>
<span *ngIf="value && !url">{{value}}</span> 
<a *ngIf="value && url" href="{{url}}" class="truncate-anchor inline" target="orcid.blank" (mouseenter)="showAffiliationExtIdPopOver(putCode)" (mouseleave)="hideAffiliationExtIdPopOver(putCode)">{{value}}</a> 
<div *ngIf="url" class="popover-pos">
    <div class="popover-help-container">
        <div class="popover bottom" [ngClass]="{'block' : displayAffiliationExtIdPopOver[putCode] == true}">
            <div class="arrow"></div>
            <div class="popover-content">
                <a href="{{url}}" target="orcid.blank" class="ng-binding">{{url}}</a>
            </div>
        </div>
    </div>
</div>    