<div class="non-fixed">
  <h1 class="mat-display-1 modal-title">Could this be you?</h1>
  <p class="mat-body-1">
    We found some accounts with your name, which means you may have already
    created an ORCID iD using a different email address. Before creating an
    account, please confirm that none of these records belong to you. Not sure
    if any of these are you?
  </p>

  <table
    style="width:100%"
    class="mat-subheading-2"
    *ngIf="data && data.duplicateRecords"
  >
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th class="affiliation-colum">Affiliations</th>
      <th>Date Created</th>
      <th>View Record</th>
    </tr>
    <tr *ngFor="let record of data.duplicateRecords">
      <td>{{ record.givenNames }}</td>
      <td>{{ record.familyNames }}</td>
      <td>{{ record.institution }}</td>
      <td>{{ record.added }}</td>
      <td>
        <button mat-button color="primary" (click)="navigateTo(record.orcid)">
          View Record
        </button>
      </td>
    </tr>
  </table>
</div>
<div class="fixed">
  <button mat-button color="primary">
    I already have an iD, go back to sign in
  </button>
  <button mat-raised-button color="primary">
    None of these are me, continue with registration
  </button>
</div>
