.non-fixed {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 400px;
}

.fixed {
  display: flex;
  justify-content: flex-end;
}

.modal-title {
  margin: 0;
}

table {
  text-align: left;
  th {
    white-space: nowrap;
  }
  .affiliation-colum {
    width: 280px;
  }
}
th,
td {
  border-bottom: 1px solid #ddd;
  vertical-align: baseline;
}

:host.columns-8,
:host.columns-4 {
  .fixed {
    flex-direction: column;
  }
}
