<?xml version="1.0" encoding="UTF-8"?>
<!--

    =============================================================================

    ORCID (R) Open Source
    http://orcid.org

    Copyright (c) 2012-2013 ORCID, Inc.
    Licensed under an MIT-Style License (MIT)
    http://orcid.org/open-source-license

    This copyright and license information (including a link to the full license)
    shall be included in its entirety in all copies or substantial portion of
    the software.

    =============================================================================

-->
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER"
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="FILE_APPENDER" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./logs/persistence-build.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<!-- 3rd party Loggers -->
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<logger name="org.hibernate">
		<level value="INFO" />
	</logger>
	
	<logger name="com.mchange.v2.c3p0">
	   <level value="WARN" />
	</logger>

	<!-- Root Logger -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>