@import '~@angular/material/_theming';

@mixin mat-menu-theme-overwrites($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $divider-color: mat-color($foreground, divider);

  $background: map-get($theme, background);
  $unselected-background: mat-color($background, unselected-chip);
  $unselected-foreground: mat-color($foreground, text);

  .mat-menu-panel {
    .orcid-mat-menu-header {
      color: map-get($foreground, text);
    }
    .orcid-mat-menu-item-active {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}
