// Overwrites for:
// https://github.com/angular/components/blob/8.2.x/src/material/button/button.scss

button.mat-button:hover,
button.mat-stroked-button:hover {
  .mat-button-focus-overlay {
    opacity: 0.08;
  }
}

button.mat-button-wrap-text {
  span {
    max-width: 100%;
    text-align: center;
    white-space: normal;
  }
}
