// Overwrites for:
// https://github.com/angular/components/blob/8.2.x/src/material/button/button.scss

button.mat-button:hover,
button.mat-stroked-button:hover {
  .mat-button-focus-overlay {
    opacity: 0.08;
  }
}

button {
  .wrap-text {
    display: flex;
    text-align: center;
    white-space: normal;
    padding: 9px 0;
  }
}
