@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSans-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSans-Bold.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/NotoSans-Italic.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/NotoSans-BoldItalic.ttf') format('truetype') /* Safari, Android, iOS */
}