<style type="text/css">
body {
    font-family: Arial, helvetica, sans-serif;
    color: #494A4C;
}

p {
    font-size: 15px;
}


a {
    color: #085c77;
}

table {
    font-family: Arial, sans-serif;
    border-spacing: 0px;
    border-collapse: separate !important;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 20px
}

.main {
    max-width: 736px;
    padding: 32px;
    margin: auto;
}

h3 {

    font-size: 18px;
    font-weight: bold;
}

hr.logo {
    color: #e0e0e0;
    border-style: solid;
}

hr.title {
    color: #447405;
    border-style: solid;
}

.why {
    max-width: 736px;
    height: 152px;
    background-color: #fafafa;
    padding: 0px 16px;
    padding-top: 1px
}

footer div {
    display: inline-block;
}

footer p {
    font-size: 13px !important;
}


footer a {
    font-size: 13px !important;
}

.your-record {
    font-size: 12px;
    font-weight: 600;
    color: #447405;
}

.footer-link {
    padding-left: 16px;
}

</style>