<div class="relative">
	<ul class="privacyToggle">
		<li class="publicActive" ng-class="{publicInActive: work.visibility != 'PUBLIC'}"><a href="" title="PUBLIC" ng-click="setPrivacy($index, 'PUBLIC', $event)"></a></li>
		<li class="limitedActive" ng-class="{limitedInActive: work.visibility != 'LIMITED'}"><a href="" title="LIMITED" ng-click="setPrivacy($index, 'LIMITED', $event)"></a></li>
		<li class="privateActive" ng-class="{privateInActive: work.visibility != 'PRIVATE'}"><a href="" title="PRIVATE" ng-click="setPrivacy($index, 'PRIVATE', $event)"></a></li>
	</ul>					   				
</div>